<section class="section abs">
    <div class="abs-general container">
        <div class="abs-promotion">
            <h2 class="abs-title abs-line">
                About us
            </h2>
            <h3 class="abs-subtitle">
                Our craftsmanship: creating unique handmade furniture
            </h3>
            <p class="abs-description">
                Discover the inspiration behind our modern and minimalist designs, 
                and see how we bring them to life through our skilled craftsmanship.
            </p>
        </div>
        <div class="abs-advantages">
            <ul class="abs-advantages-list">
                <li class="abs-advantages-item">
                    <h3 class="abs-subtitle-advantages">
                        5+
                    </h3>
                    <p class="abs-description-advantages">
                        Years of experience creating handcrafted furniture
                    </p>
                </li>
                <li class="abs-advantages-item">
                    <h3 class="abs-subtitle-advantages">
                        100%
                    </h3>
                    <p class="abs-description-advantages">
                        Sustainably sourced materials used in all of our furniture 
                    </p>
                </li>
                <li class="abs-advantages-item">
                    <h3 class="abs-subtitle-advantages">
                        500+
                    </h3>
                    <p class="abs-description-advantages">
                        Unique furniture designs crafted by our skilled artisans
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="abs-img">
        <img 
        src="../img/img-mobile/product4x1-mobile.jpg" 
        alt="white sofa and flower pot and chairs"
        srcset="../img/img-mobile/product4x1-mobile.jpg 1x,
        ../img/img-mobile/product4x2-mobile.jpg 2x"
        width="375px"
        height="400px">
    </div>
</section>