<section class="abs-section" id="about-us">
    <div class="abs-general">
        <div class="abs-promotion">
            <h2 class="abs-title abs-line">
                About us
            </h2>
            <h3 class="abs-subtitle">
                Our craftsmanship: creating unique handmade furniture
            </h3>
            <p class="abs-description">
                Discover the inspiration behind our modern and minimalist designs, 
                and see how we bring them to life through our skilled craftsmanship.
            </p>
        </div>
        <div class="abs-advantages">
            <ul class="abs-advantages-list">
                <li class="abs-advantages-item">
                    <h3 class="abs-subtitle-advantages">
                        5+
                    </h3>
                    <p class="abs-description-advantages">
                        Years of experience creating handcrafted furniture
                    </p>
                </li>
                <li class="abs-advantages-item">
                    <h3 class="abs-subtitle-advantages">
                        100%
                    </h3>
                    <p class="abs-description-advantages">
                        Sustainably sourced materials used in all of our furniture 
                    </p>
                </li>
                <li class="abs-advantages-item">
                    <h3 class="abs-subtitle-advantages">
                        500+
                    </h3>
                    <p class="abs-description-advantages">
                        Unique furniture designs crafted by our skilled artisans
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="abs-img">
        <picture>
            <source 
            class="abs-img-med" 
            srcset="../img/img-tablet/product4x1-tablet.jpg 1x,
            ../img/img-tablet/product4x2-tablet.jpg 2x" 
            media="(min-width: 1440px)">
            <source 
            class="abs-img-med" 
            srcset="../img/img-desctop/product4x1-desctop.jpg 1x,
            ../img/img-desctop/product4x2-desctop.jpg 2x" 
            media="(min-width: 768px)">
            <source 
            class="abs-img-med" 
            srcset="../img/img-mobile/product4x1-mobile.jpg 1x,
            ../img/img-mobile/product4x2-mobile.jpg 2x" 
            media="(min-width: 320px)">
            <img 
            class="abs-img-med" 
            src="../img/img-mobile/product4x1-mobile.jpg" 
            alt="white sofa and flower pot and chairs">
        </picture>
    </div>
</section>