<section class="bestsellers" id="minimal-bestsellers">
  <div class="container">
    <h2 class="bestsellers-title">Bestsellers</h2>
    <div class="bestsellers-container">
      <div class="bestsellers-left-side">
        <picture>
          <source
            srcset="
              /img/img-desctop/product9x1-desctop.jpg 1x,
              /img/img-desctop/product9x2-desctop.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/img-tablet/product9x1-tablet.jpg 1x,
              /img/img-tablet/product9x2-tablet.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/img-mobile/product9x1-mobile.jpg 1x,
              /img/img-mobile/product9x2-mobile.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            class="bestsellers-first-img"
            src="/img/img-desctop/product9x1-desctop.jpg"
            alt="The modern platform bed"
            width="704"
          />
        </picture>
        <h3 class="bestsellers-item-title">The modern platform bed</h3>
        <p class="bestsellers-item-text">750$</p>
      </div>
      <div class="bestsellers-right-side">
        <ul class="bestsellers-right-list">
          <li class="bestsellers-right-item">
            <picture>
              <source
                srcset="
                  /img/img-desctop/product10x1-desctop.jpg 1x,
                  /img/img-desctop/product10x2-desctop.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/img-tablet/product10x1-tablet.jpg 1x,
                  /img/img-tablet/product10x2-tablet.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/img-mobile/product10x1-mobile.jpg 1x,
                  /img/img-mobile/product10x2-mobile.jpg 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="bestsellers-img"
                src="/img/img-desctop/product10x1-desctop.jpg"
                alt="The Cozy Lounge Chair"
                width="343"
              />
            </picture>
            <h3 class="bestsellers-item-title">The Cozy Lounge Chair</h3>
            <p class="bestsellers-item-text">230$</p>
          </li>
          <li class="bestsellers-right-item">
            <picture>
              <source
                srcset="
                  /img/img-desctop/product11x1-desctop.jpg 1x,
                  /img/img-desctop/product11x2-desctop.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/img-tablet/product11x1-tablet.jpg 1x,
                  /img/img-tablet/product11x2-tablet.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/img-mobile/product11x1-mobile.jpg 1x,
                  /img/img-mobile/product11x2-mobile.jpg 2x
                "
                media="(min-width:320px)"
              />
              <img
                class="bestsellers-img"
                src="/img/img-desctop/product11x1-desctop.jpg"
                alt="The industrial accent chair"
                width="343"
              />
            </picture>
            <h3 class="bestsellers-item-title">The industrial accent chair</h3>
            <p class="bestsellers-item-text">250$</p>
          </li>
          <li class="bestsellers-right-item">
            <picture>
              <source
                srcset="
                  /img/img-desctop/product12x1-desctop.jpg 1x,
                  /img/img-desctop/product12x2-desctop.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/img-tablet/product12x1-tablet.jpg 1x,
                  /img/img-tablet/product12x2-tablet.jpg 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="bestsellers-img"
                src="/img/img-desctop/product12x1-desctop.jpg"
                alt="The sleek stand"
                width="343"
              />
            </picture>
            <h3 class="bestsellers-item-title">The sleek stand</h3>
            <p class="bestsellers-item-text">300$</p>
          </li>
          <li class="bestsellers-right-item">
            <picture>
              <source
                srcset="
                  /img/img-desctop/product13x1-desctop.jpg 1x,
                  /img/img-desctop/product13x2-desctop.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/img-tablet/product13x1-tablet.jpg 1x,
                  /img/img-tablet/product13x2-tablet.jpg 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="bestsellers-img"
                src="/img/img-desctop/product13x1-desctop.jpg"
                alt="The minimalist sofa"
                width="336"
              />
            </picture>
            <h3 class="bestsellers-item-title">The minimalist sofa</h3>
            <p class="bestsellers-item-text">650$</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
