<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Normalize -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./css/client-reviews-styles.css" />
    <link rel="stylesheet" href="./css/mobile-client-styles.css" />
    <link rel="stylesheet" href="./css/reset.css" />
  </head>
  <body>
    <main>
      <div class="client-container">
        <div class="container">
          <h2 class="client-title">Clients reviews</h2>
          <ul class="client-list list">
            <li class="client-item">
              <div class="user-container">
                <img
                  class="client-img"
                  src="./images/Ellipse1.jpg"
                  alt=""
                  width="56"
                  height="56"
                />
                <div class="client-subtitle-div">
                  <p class="client-name">Alexandra dream</p>
                  <span class="client-date">1 week ago</span>
                </div>
              </div>

              <p class="client-text">
                I was blown away by the quality and craftsmanship of the
                furniture I received from this company. Each piece was unique
                and beautifully designed, and you can tell that a lot of thought
                and care goes into every detail.
              </p>
            </li>
            <li class="client-item">
              <div class="user-container">
                <img
                  class="client-img"
                  src="./images/Ellipse2.jpg"
                  alt=""
                  width="56"
                  height="56"
                />
                <div class="client-subtitle-div">
                  <p class="client-name">James Williams</p>
                  <span class="client-date">A week ago</span>
                </div>
              </div>

              <p class="client-text">
                The "Minimal" furniture set is a fantastic addition to my home.
                It boasts a minimalist design, enhancing the feel and look of my
                living space. The sturdy construction is worth noting too, which
                speaks volumes about its durability.
              </p>
            </li>
            <li class="client-item">
              <div class="user-container">
                <img
                  class="client-img"
                  src="./images/Ellipse3.jpg"
                  alt=""
                  width="56"
                  height="56"
                />
                <div class="client-subtitle-div">
                  <p class="client-name">Emily Watson</p>
                  <span class="client-date">3 week ago</span>
                </div>
              </div>
              <p class="client-text">
                The "Minimal" furniture set has far exceeded my expectations.
                The sleek design combined with the high-quality materials have
                not only added an exceptional aesthetic to my space but also
                offered an uncompromising standard of comfort.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
