<section id="minimal-clients">
  <div class="client-container">
    <div class="container">
      <h2 class="client-title">Clients reviews</h2>
      <ul class="client-list list">
        <li class="client-item">
          <div class="user-container">
            <img class="client-img" src="/img/Ellipse1.png" alt="" />
            <div class="client-subtitle-div">
              <p class="client-name">Alexandra dream</p>
              <span class="client-date">1 week ago</span>
            </div>
          </div>

          <p class="client-text">
            I was blown away by the quality and craftsmanship of the furniture I
            received from this company. Each piece was unique and beautifully
            designed, and you can tell that a lot of thought and care goes into
            every detail.
          </p>
        </li>
        <li class="client-item">
          <div class="user-container">
            <img class="client-img" src="/img/Ellipse2.png" alt="" />
            <div class="client-subtitle-div">
              <p class="client-name">James Williams</p>
              <span class="client-date">A week ago</span>
            </div>
          </div>

          <p class="client-text">
            The "Minimal" furniture set is a fantastic addition to my home. It
            boasts a minimalist design, enhancing the feel and look of my living
            space. The sturdy construction is worth noting too, which speaks
            volumes about its durability.
          </p>
        </li>
        <li class="client-item">
          <div class="user-container">
            <img class="client-img" src="/img/Ellipse3.png" alt="" />
            <div class="client-subtitle-div">
              <p class="client-name">Emily Watson</p>
              <span class="client-date">3 week ago</span>
            </div>
          </div>
          <p class="client-text">
            The "Minimal" furniture set has far exceeded my expectations. The
            sleek design combined with the high-quality materials have not only
            added an exceptional aesthetic to my space but also offered an
            uncompromising standard of comfort.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
