<footer class="footer" id="minimal-footer">
  <div class="container footer-container">
    <a href="/src/index.html" class="footer-logo-link link">
      <svg class="footer-logo" alt="Our logotype" width="100" height="16">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <ul class="footer-icon-list">
      <li class="footer-icon">
        <a
          href="https://www.facebook.com/"
          class="icon-link link"
          target="_blank"
        >
          <svg class="icon" alt="facebook logotype logo" >
            <use href="/img/sprite.svg#icon-ph_facebook-logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icon">
        <a
          href="https://www.instagram.com/"
          class="icon-link link"
          target="_blank"
        >
          <svg class="icon" alt="instagram logotype logo">
            <use href="/img/sprite.svg#icon-ph_instagram-logo"></use>
          </svg>
        </a>
      </li>
      <li class="footer-icon">
        <a
          href="https://www.youtube.com/"
          class="icon-link link"
          target="_blank"
        >
          <svg class="icon" alt="you tube logotype logo">
            <use href="/img/sprite.svg#icon-ph_youtube-logo" ></use>
          </svg>
        </a>
      </li>
    </ul>
    <nav class="footer-navigation">
      <ul class="footer-nav-list list">
        <li class="footer-nav-list-items">
          <a href="#about" class="footer-nav-link link">About us </a>
        </li>
        <li class="footer-nav-list-items">
          <a href="#our-prod-id" class="footer-nav-link link"
            >Our products
          </a>
        </li>
        <li class="footer-nav-list-items">
          <a href="#price-id" class="footer-nav-link link">Prices </a>
        </li>
        <li class="footer-nav-list-items">
          <a href="#bestsell" class="footer-nav-link link"
            >Bestsellers
          </a>
        </li>
        <li class="footer-nav-list-items">
          <a href="#reviews-id" class="footer-nav-link link">Reviews </a>
        </li>
      </ul>
    </nav>
    <address class="address" id="contacts">
      <ul class="footer-address-list list">
        <li>
          <a
            class="footer-address link"
            target="_blank"
            href="https://www.google.com/maps/place/%D0%BC%D0%B5%D1%82%D1%80%D0%BE+%D0%9F%D0%BE%D1%87%D0%B0%D0%B9%D0%BD%D0%B0,+%D0%9E%D0%B1%D0%BE%D0%BB%D0%BE%D0%BD%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D1%81%D0%BF.,+14,+%D0%9A%D0%B8%D0%B5%D0%B2,+01001/@50.4863141,30.4956738,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4cdd36d2177f5:0x86c4d643ee824412!8m2!3d50.4863107!4d30.4982487!16s%2Fg%2F11h88bn19p?entry=ttu"
            >Obolonsky Prospect, 14, Kyiv</a
          >
        </li>
        <li><p class="work-time">Daily 10:00-21:00</p></li>
      </ul>
      <ul class="footer-tel-list list">
        <li class="tel-link">
          <a class="footer-tel link" href="tel:+380669384758">+380669384758</a>
        </li>
        <li class="tel-link">
          <a class="footer-tel link" href="tel:+380679384758">+380679384758</a>
        </li>
        <li class="email-link">
          <a href="mailto:minimal.furniture@gmail.com" class="email link"
            >minimal.furniture@gmail.com</a
          >
        </li>
      </ul>
    </address>
    <div class="bottom-text-container">
      <p class="bottom-text">
        By using this website, you agree to the
        <a class="bottom-text-link link" href="#">Terms of Service</a>
        and
        <a class="bottom-text-link link" href="#">Privacy Policy</a>.
      </p>
    </div>
  </div>
</footer>
