<header class="header">
    <div class="header-container container">
        <a href="./index.html" class="logo link">
          <svg class="logo-svg" width="100" height="16">
            <use
              class="logo-use"
              xlink:href="/img/sprite.svg#icon-logo"
            ></use></svg></a>
        <button
          class="header-menu-btn"
          type="button"
          aria-expanded="false"
          aria-controls="header-menu-container"
        >
          <svg
            class="header-icon header-icon-burger"
            width="25"
            height="25"
            aria-label="Mobile menu switcher"
          >
            <use
              class="header-icon header-icon-close icon"
              xlink:href="/img/sprite.svg#icon-close"
            ></use>
            <use
              class="header-icon header-icon-mobile icon"
              xlink:href="/img/sprite.svg#icon-menu"
            ></use>
          </svg>
        </button>
        <nav class="header-navigation"> 
        <div class="header-menu-container slide">
          <div class="header-nav-list-container">
            <ul class="header-nav-list list" id="menu">
              <li class="header-nav-list-items">
                <a href="#about-us" class="header-nav-link link"
                  >About us </a>
              </li>
              <li class="header-nav-list-items">
                <a href="#our-products" class="header-nav-link link">Our products </a>
              </li>
              <li class="header-nav-list-items">
                <a href="#prices" class="header-nav-link link">Prices </a>
              </li>
              <li class="header-nav-list-items">
                <a href="#prices" class="header-nav-link link">Bestsellers </a>
              </li>
              <li class="header-nav-list-items">
                <a href="#prices" class="header-nav-link link">Reviews </a>
              </li>
              <li class="header-nav-list-items">
                <a href="#prices" class="header-nav-link link">Contacts </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>