<section class="products" id="our-products">
  <div class="container">
    <h2 class="products-title">OUR PRODUCTS</h2>
    <ul class="products-list">
      <li class="products-item">
        <a href="#" class="our-products-link">
          <picture>
            <source
              srcset="
                /img/img-desctop/product5х1-desctop-small.jpg 1x,
                /img/img-desctop/product5х2-desctop-small.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/img-tablet/product5x1-tablet.jpg 1x,
                /img/img-tablet/product5x2-tablet.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/img-mobile/product5x1-mobile.jpg 1x,
                /img/img-mobile/product5x2-mobile.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/img-desctop/product5х1-desctop-small.jpg"
              alt="table"
            />
            <p class="products-text">Minimalist storage solutions</p>
          </picture>
        </a>
      </li>
      <li class="products-item mobile-op">
        <a href="#" class="our-products-link">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/img-desctop/product6х1-desctop-small.jpg 1x,
                /img/img-desctop/product6х2-desctop-small.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/img-tablet/product6x1-tablet.jpg 1x,
                /img/img-tablet/product6x2-tablet.jpg 2x
              "
            />
            <img
              src="/img/img-desctop/product6х1-desctop-small.jpg"
              alt="sofa"
            />
            <p class="products-text">Handcrafted minimalist seating</p>
          </picture>
        </a>
      </li>
      <li class="products-item mobile-op tablet-op">
        <a href="#" class="our-products-link">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/img-desctop/product7х1-desctop-small.jpg 1x,
                /img/img-desctop/product7х2-desctop-small.jpg 2x
              "
            />
            <img
              src="/img/img-desctop/product7х1-desctop-small.jpg"
              alt="table"
            />
            <p class="products-text">Sleek and simple tables</p>
          </picture>
        </a>
      </li>
      <li class="products-item mobile-op tablet-op">
        <a href="#" class="our-products-link">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/img-desctop/product8х1-desctop-small.jpg 1x,
                /img/img-desctop/product8х2-desctop-small.jpg 2x
              "
            />
            <img
              src="/img/img-desctop/product8х1-desctop-small.jpg"
              alt="chair"
            />
            <p class="products-text">Minimalist seating for every space</p>
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
