<section id="minimal-prices">
    <div class="container">
        <div class="special-container">
            <h2 class="visually-hidden">Chairs Tables Dressers Sofas</h2>
            <ul class="price-list">
                <li class="price-item">
                    <p class="price-item-text">Chairs</p>
                    <p class="price-item-cost">from 200$</p>
                </li>
                <li class="price-item">
                    <p class="price-item-text">Tables</p>
                    <p class="price-item-cost">from 250$</p>
                </li>
                <li class="price-item">
                    <p class="price-item-text">Dressers</p>
                    <p class="price-item-cost">from 300$</p>
                </li>
                <li class="price-item">
                    <p class="price-item-text">Sofas</p>
                    <p class="price-item-cost">from 500$</p>
                </li>
            </ul>
        </div>
    </div>
</section>