<div class="backdrop is-hidden"> 
    <div class="thanks-container">
        <svg class="thx-logo-container">
        <use
              class="logo-use-thx-one slide-in-left"
              xlink:href="../img/sprite.svg#icon-logo"
            ></use></svg>
        <p class="thanks">Your details are received with gratitude. Expect to hear from us shortly.
        </p>
        <button type="button" class="close-button">Close</button>
        <svg class="thx-logo-container">
        <use
              class="logo-use-thx-two slide-in-right"
              xlink:href="../img/sprite.svg#icon-logo"
            ></use></svg>
      </div>
    </div>