.header {
  padding: 28px 0;
  background-color: var(--light-blue,#F7FAFF);
  z-index: 1;
}

.header-container {
  display: block;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 16px;
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 15px 0;
}


.logo-svg {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  fill: var(--blue-font);
  stroke: var(--blue-font);
}
.logo:hover .logo-svg {
  transform: scale(1.1);
}
.header-menu-btn {
  position: relative;
  margin-left: auto;
  display: flex;
  border: none;
  background-color: transparent;
  z-index: 2;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  padding-right: 0;
}

.header-menu-btn.is-open .header-icon-mobile {
  transform: scaleY(0);
  opacity: 0;
}


.header-icon-burger .header-icon-mobile {
  fill: var(--blue-font,#0A224A);
  stroke: var(--blue-font,#0A224A);
  transition: all 300ms ease-in-out;
  transform: scaleY(1);
  opacity: 1;


}


.header-menu-btn::before,
.header-menu-btn::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 1.5px;
  border-radius: 4px;
  background-color: var(--blue-font);
  z-index: 10;
  transition: all 300ms ease-in-out;
}

.header-menu-btn::before{
  top: 5.5px;
  left: 7.5px;
}

.header-menu-btn::after {
  left: 7.5px;
  bottom: 5.5px;
}

.header-menu-btn.is-open::before {
  top: 60%;
  transform: rotate(-45deg) translate(0, -50%);

}

.header-menu-btn.is-open::after {
  top: 55%;
  transform: rotate(45deg) translate(0, 50%);
}




.header-menu-container.is-open {
  opacity: 1;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 86px;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--white, #FFF);
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 114px;
  animation: slideAnim 600ms;
  
  }

  .header-navigation {
    
    animation: slideDisap 600ms;
  }
  @keyframes slideAnim {
    from {transform: translateX(-100%)}
    to {transform: translateX(0)}
  }

  @keyframes slideDisap {
    from {opacity: 0}
    to {opacity: 1}
  }

.header-nav-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 17px;
  text-align: center;
}

.header-menu-container.is-open .header-nav-list {
  display: flex;
}


.header-nav-link {
  position: relative;
  color: var(--blue-font,#0A224A);
  text-decoration: none;
  transition: transform 300ms ease-in-out, color 0.3s ease-in-out;
  padding: 15px 5px 5px 5px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color:var(--blue-font,#0A224A);
}

.header-nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color:var(--hover-color,#061835);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.header-nav-link:hover::after {
  transform: scaleX(1); 
}

.body.thx-no-scroll .header-menu-btn {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 127px;
    height: 16px;
  }

  .header-nav-list {
    gap: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .header-nav-list {
    flex-direction: row;
    display: flex;
  }

  .header-menu-btn {
    display: none;
  }

  .header-container {
    align-items: center;
    justify-content: space-between;
  }


  .header-menu-container {
    transform: translateX(0%);
  }
}

