/* Styles */

.price-list {
    display: flex;
    flex-direction: column;
}

.price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid var(--blue-font, #0A224A);
    cursor: pointer;
}

.price-item:last-child {
    border-bottom: 1px solid var(--blue-font, #0A224A);
}

.price-item-text {
    color: var(--blue-font, #0A224A);
    height: 60px;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.price-item-text::before {
    content: "";
    width: 0px;
    height: 2.5px;
    margin-right: 20px;
    background-color: var(--blue-font, #0A224A);
    transition: 300ms ease-in-out 50ms;
}

.price-item-text:hover::before,
.price-item-text:focus::before {
    width: 40px;
}

.price-item-cost {
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

/* Media */

@media screen and (max-width: 374px) {
    .special-container {
        padding: 0 16px;
    }   
}

@media screen and (min-width: 768px) {
    .price-item-text {
        line-height: 1.4;
    }

    .price-item-cost {
        font-size: 18px;
    }    
}

@media screen and (min-width: 1440px) {
    .special-container {
      padding: 0 112px;
    }
}
