.container-subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title-subscription {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 31px;
  text-align: center;
}

.form-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.in-sub {
  width: 342px;
  height: 50px;
  padding: 11px 20px;
  color: var(--blue-font);
  outline: none;
  border: 1px solid var(--grey);
}
.in-sub::placeholder {
  color: var(--light-grey);
}

.email-input:focus:invalid,
.email-input:active:invalid {
  border-color: #e74a3b;
  color: #e74a3b;
}

.svg-error-span {
  position: relative;
  display: none;
}

.svg-error {
  position: absolute;
  left: -40px;
  top: 0;
}

.in-sub:not(:placeholder-shown) {
  border-color: var(--blue-font);
}


.in-sub:active,
.in-sub:focus,
.in-sub:hover {
  border: 1px solid var(--blue-font);

}
.button-subscription {
  display: flex;
  width: 224px;
  height: 52px;
  padding: 17px 65px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  background-color: var(--blue-font);
  color: var(--white);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  cursor: pointer;
  border: none;
}
.button-subscription:hover,
.button-subscription:focus {
  background-color: var(--hover-color);
}
.checkbox-label-subscriotion {
  display: flex;
  align-items: center;
}
.label-subscription {
  color: var(--dark-grey);
  display: flex;
  align-items: center;
}
.label-subscription span {
  width: 25px;
  height: 25px;
  border: 1px solid var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
  transition-duration: 300ms;
  transition: all 250ms ease-in-out;
}
.checkbox-subscriotion:checked + .label-subscription span {
  border: none;
  fill: var(--white);
  background-color: var(--blue-font);
}
.picture-subscription {
  margin-left: 100px;
}
.subscription-image-container {
  display: flex;
  justify-content: space-between;
  max-width: 343px;
  max-height: 300px;
}
.image-subscription {
  width: 100%;
  height: 100%;
}
.text-subscription {
  margin-bottom: 20px;
}



@media screen and (max-width: 374px) {
  .email-input:focus:invalid ~ .svg-error-span {
    display: block;
    left: 280px;
    top: -36px;
  }
  .text-subscription {
    max-width: 343px;
    margin-bottom: 20px;
  }
  .in-sub {
    width: 280px;
  }
}
@media screen and (min-width: 375px) {
  .email-input:focus:invalid ~ .svg-error-span {
    display: block;
    left: 340px;
    top: -36px;
  }
}



@media screen and (min-width: 768px) {
  .email-input:focus:invalid ~ .svg-error-span {
    display: block;
    left: 520px;
    top: -36px;
  }
  .title-subscription {
    font-size: 32px;
    text-align: left;
  }
  .text-subscription {
    width: 536px;
  }
  .input-subsription::placeholder {
    font-size: 18px;
  }
  .in-sub {
    width: 536px;
  }
  .label-subscription {
    font-size: 18px;
  }
  .button-subscription {
    margin-bottom: 44px;
    font-size: 18px;
  }
  .subscription-image-container {
    max-width: 704px;
    max-height: 396px;
  }

}
@media screen and (min-width: 1440px) {

  .button-subscription {
    margin-bottom: 0;
  }
  .container-subscription {
    width: 1096px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }
  .title-subscription {
    font-size: 32px;
    text-align: left;
  }
  .text-subscription {
    width: 536px;
  }
  .form-subscription {
    gap: 30px;
  }
  .input-subsription::placeholder {
    font-size: 18px;
  }
  .in-sub {
    width: 536px;
  }
  .label-subscription {
    font-size: 18px;
  }
  .button-subscription {
    font-size: 18px;
  }
  .subscription-image-container {
    max-width: 460px;
    max-height: 410px;
  }
}
